<table style="margin-top: 10px;">
    <tr colspan="<%=periodList.length%>">
        <td class="td-bulletin">
            <strong>MENTION : </strong> &nbsp;&nbsp; <%=decision%>
        </td>
    </tr>
    <tr colspan="7">
        <td class="td-bulletin"><strong>REMARQUES</strong></td>
    </tr>
</table>