<div class="row-header">
    <div class="logo">
        <img style="margin-left: 10px;" src="/images/logo/logo.png" alt="img" width="100" height="100">
    </div>
    <div class="header-form">
        <%=schoolName%><br>
            <%=schoolAddress%><br>
                <%=schoolPhone%><br>
    </div>
</div>
<hr style="width: 80%; margin-top: 15px;">