<div class="row-double">
        <div class="col-sm-1">
            <img src="/images/logo/logo.jpg" alt="img" width="70" height="70">
        </div>
        <div class="col-sm-1">
            <p style="font-size: 12px;width: 90%;">
                <%=schoolName%><br>
                    <%=schoolAddress%><br>
                        <%=schoolPhone%><br>
            </p>
        </div>
            <div class="col-sm-1" style="margin-left: -10px;">
            <img src="/images/logo/mazenod.jpg" alt="img" width="70" height="70">
        </div>
</div>
<hr style="width: 80%;margin-left:20px; margin-top: 5px;color: #050202;">