<div class="row-header">
    <div>
        <img src="/images/logo/logo.jpg" alt="img" width="100" height="100">
    </div>
    <div class="header-form">
        <%=schoolName%><br>
            <%=schoolAddress%><br>
                <%=schoolPhone%><br>
    </div>
    <div>
        <img src="/images/logo/mazenod.jpg" alt="img" width="100" height="100">
    </div>
</div>
<hr style="width: 60%; margin-top: 15px;color: #050202;">