<!DOCTYPE html>
<html>

<head>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/print.css">
    <title>Papier entete</title>
</head>

<body onload="window.print()">
    <%- include("header") -%>
</body>

</html>